= form_with model: [@site, @parse_field] do |f|
  = f.hidden_field :site_id, value: @site.id
  .form-group
    = f.text_field :name, placeholder: "Name",class: "form-control"
  .form-group
    = f.text_field :selector, placeholder: "Selector",class: "form-control"
  = f.submit "Submit", class: "btn btn-primary"