.card
  .card-header.text-center
    = site.name
  %ul.list-group.list-group-flush
    %li.list-group-item
      = site.url_info
    %li.list-group-item
      .card-status.d-inline
        = site.status_info
  .card-footer.text-center
    = form_with model: Site, url: change_status_site_path(site.id), method: :patch, class: "d-inline site-status-js" do |f|
      = f.submit site.active_btn_title, class: "btn btn-#{site.active_btn_style}"
    .btn.btn-primary.ml-2.test-parse-js{data: { url: test_parse_site_path(site.id) }} 
      Test parse
