
.row
  .col-3
    = render partial: "card-info", locals: { site: @site }
  .col-9
    %table.table.mt-4.table-hover
      %thead.thead-light
        %tr
          %th
            Name
          %th
            Selector
          %th
            Actions
      %tbody
        - @site.parse_fields.each do |pf|
          %tr
            %td
              = pf.name
            %td
              = pf.selector
            %td
              = link_to "Edit", edit_site_parse_field_path(@site, pf), class: "btn btn-secondary"
              = link_to "Delete", site_parse_field_path(@site, pf), method: :delete, remote: true, class: "btn btn-danger delete-parse-field"
    = link_to "Add Parse setting", new_site_parse_field_path(@site), class: "btn btn-primary"
.row
  .col-3
    
    