.header.container-fluid.box-shadow.border-bottom
  %nav.row.p-2.navbar-expand-lg.navbar-expand-md.navbar.navbar-light.bg-light.align-middle
    %h5.navbar-brand
      World Agregetor
    %button.navbar-toggler{"aria-controls" => "navbarToggler", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggler", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarToggler.collapse.navbar-collapse
      %ul.navbar-nav.my-0.ml-auto.mr-2
        %li.nav-item
          = link_active_to "Aggregators", aggregators_path, class: "nav-link"
        %li.nav-item
          = link_active_to "Tariffs", tariffs_path, class: "nav-link"
        %li.nav-item
          = link_active_to "Home", root_path, class: "nav-link"
      - if user_signed_in?
        = bell_block
        = avatar_block
      - else
        = link_to "Sign in", new_user_session_path, class: "nav-link btn btn-outline-primary"
  - if action_name == "index" && controller_name == "home" 
    = button_tag(class: "btn-open-search btn btn-outline-primary mr-3 border-top-0 rounded-0") do
      = icon('fas', 'search')